html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'airstrike';
  src: url("airstrike/airstrike.ttf") format('truetype'); 
}

@font-face {
  font-family: 'airstrikebold';
  src: url("airstrike/airstrikebold.ttf") format('truetype'); 
}


@font-face {
  font-family: 'airstrikebullet';
  src: url("airstrike/airstrikebullet.ttf") format('truetype'); 
}

body {
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all .2s ease-in-out;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html {
  background-color: "#4C4C4C";
}

div {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

.menu-ul {
  list-style: none;
  z-index: 100;
  display: flex;
  width: 100%;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.menu-li {
  font-family: "airstrike";
  position: relative;
  margin: 0 6.5px;
  list-style: none;
  display: block;
  float: left;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.1em;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  -moz-transform: translateZ(0) scale(1, 1);
  -o-transform: translateZ(0) scale(1, 1);
  -ms-transform: translateZ(0) scale(1, 1);
  -webkit-transform: translateZ(0) scale(1, 1);
  transform: translateZ(0) scale(1, 1);
  cursor: pointer;
}

.menu-li a {
  color: rgba(255,255,255,1);
  text-decoration: none;
}

.menu-li a:hover {
  color: rgb(251,90,0, 1);
  transition: all .2s ease-in-out;
}

.menu-li a span {
  position: relative;
  z-index: 1;
  padding: 0;
}

.division {
  overflow: inherit !important;
  color: rgb(251,90,0,1);
}

.menuLinks img:hover {
  filter: invert(40%) sepia(72%) saturate(1479%) hue-rotate(358deg) brightness(93%) contrast(113%);
  transform: scale(1.3); 
  transition: all .2s ease-in-out;
}

.menuMobileLink {
  color: #fff;
  text-decoration: none;
  margin-top: 6px;
}

.menuMobileLink:hover {
  color: rgb(251,90,0,1);
}